/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
div#map{
height: 300px !important;
}
body,
html {
  height: 100%;
}

.title {
  color: #FFEBCD;
  background :#080838 ;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
  padding:10px;
  border: 1px solid black;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: rgb(138, 134, 134);
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 18px;
  opacity: 0.7;
}